*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/* linhhuynh */
/* 
Author: W3layouts
Author URL: http://w3layouts.com
*/


.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }





*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }





h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; } }




.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
   }
  .table-responsive > .table-bordered {
    border: 0; }



a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none; }

.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72; }
  .btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952; }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #cf2952;
    border-color: #c4274e; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5); }









.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72; }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #dc4f72;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5); }





:root {
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --title-color: #2C3038;
  --text-color: #5a5a5a;
  --light-bg-color: #F7F9FC;
  --card-curve: 6px;
  --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  --transformY: translateY(-0.5rem); }




ul,
ol {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; }

textarea {
  font-family: 'Nunito', sans-serif; }

* {
  box-sizing: border-box; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 992px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 1280px) {
  .container {
    max-width: 1200px; } }

.clear {
  clear: both; }

.img-block {
  display: block; }

.d-grid {
  display: grid; }

.d-flex {
  display: flex;
  display: -webkit-flex; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

button,
select {
  outline: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button,
.btn,
select {
  cursor: pointer;
  font-family: 'Nunito', sans-serif; }

a,
a:hover {
  text-decoration: none; }

iframe {
  border: none; }

ul {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; }

p {
  margin: 0;
  padding: 0;
  color: var(--text-color); }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.p-fixed {
  position: fixed; }

.p-sticky {
  position: -webkit-sticky;
  position: sticky; }


.header-section {
  max-width: 750px;
  margin: 0 auto; }

.header-section p {
  max-width: 750px;
  margin: 0 auto; }

.header-section h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700; }

.header-section h2 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 55px;
  font-weight: 800; }

.header-section.white h3 {
  color: #fff; }

.header-section.white h2 {
  color: #fff; }

.header-section p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px; }

.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px; }

@media (max-width: 800px) {
  .header-section h3 {
    font-size: 40px;
    line-height: 50px; }
  .header-section h2 {
    font-size: 40px;
    line-height: 50px; } }

@media (max-width: 667px) {
  .header-section h3 {
    font-size: 32px;
    line-height: 42px; }
  .header-section h2 {
    font-size: 36px;
    line-height: 42px; } }














.w3l-index1 {
  margin-top: 90px; }
  .w3l-index1 .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../images/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem; }
  .w3l-index1 .content-photo img {
    transform: rotate(180deg); }
  .w3l-index1 .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: var(--title-color);
    font-weight: 700; }
  .w3l-index1 .content-left p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px; }
  @media (max-width: 992px) {
    .w3l-index1 .content-photo img {
      display: block; } }
  @media (max-width: 568px) {
    .w3l-index1 .content-left h3 {
      font-size: 40px;
      line-height: 45px; } }
  @media (max-width: 375px) {
    .w3l-index1 .content-left h3 {
      font-size: 35px; } }

@media (max-width: 992px) {
  .w3l-index1 {
    margin-top: 70px; } }

/*-- index-block2 --*/
.w3l-index2 .s-block {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  background: var(--light-bg-color);
  padding: 3rem 2rem;
  border: 1px solid var(--light-bg-color); }

.w3l-index2 .s-block:hover {
  transition: 0.3s ease-in;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY); }

.w3l-index2 .s-block h3 {
  color: var(--title-color);
  font-size: 26px;
  line-height: 35px;
  font-weight: 700; }

.w3l-index2 .s-block p {
  color: var(--text-color);
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px; }

/*-- /index-block2 --*/
.w3l-index3 {
  background-color: var(--light-bg-color); }
  .w3l-index3 .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700; }
  .w3l-index3 .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px; }

/*-- stats --*/
.w3l-stats {
  background: var(--light-bg-color); }
  .w3l-stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px; }
  .w3l-stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700; }
  .w3l-stats .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid #eee; }
  .w3l-stats .stats_info:hover {
    box-shadow: var(--card-hover-box-shadow);
    transition: 0.3s ease; }
  @media (max-width: 992px) {
    .w3l-stats p.counter {
      font-size: 40px;
      line-height: 50px; }
    .w3l-stats .stats_info h4 {
      font-size: 18px; } }
  @media (max-width: 737px) {
    .w3l-stats .stats_info h4 {
      font-size: 17px; } }

/*--//stats--*/
.w3l-index4 .new-block {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../images/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0; }

.w3l-index4 .middle-section {
  max-width: 550px; }

.w3l-index4 .middle-section h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700; }

.w3l-index4 .link-list-menu p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px; }

@media (max-width: 800px) {
  .w3l-index4 .middle-section a {
    margin-top: 40px; } }

@media (max-width: 667px) {
  .w3l-index4 .link-list-menu {
    max-width: 523px; }
  .w3l-index4 .middle-section a {
    margin-top: 30px; }
  .w3l-index4 .link-list-menu p {
    font-size: 15px;
    line-height: 22px; } }

@media (max-width: 440px) {
  .w3l-index4 .middle-section h2 {
    font-size: 26px; } }

@media (max-width: 384px) {
  .w3l-index4 .middle-section a {
    margin-top: 25px; } }

@media (max-width: 320px) {
  .w3l-index4 .link-list-menu {
    width: 281px; } }

.w3l-index5 .grids5-info {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee; }

.w3l-index5 .grids5-info:hover {
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY); }

.w3l-index5 a.zoom {
  overflow: hidden;
  position: relative; }

.w3l-index5 a.zoom img {
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.w3l-index5 .grids5-info:hover a.zoom img {
  overflow: hidden;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  transition: 0.3s ease-in-out; }

.w3l-index5 .blog-info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.w3l-index5 .grid-view img.news-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.w3l-index5 .grid-view a.zoom {
  border-top-left-radius: var(--card-curve);
  border-top-right-radius: var(--card-curve); }

.w3l-index5 .grid-view .grids5-info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: var(--title-color);
  display: block;
  font-weight: 600; }

.w3l-index5 .grids5-info:hover div.blog-info h4 a {
  color: var(--primary); }

.w3l-index5 .grid-view .grids5-info h4 a:hover {
  color: var(--primary); }

.w3l-index5 .grid-view .grids5-info p {
  font-size: 16px;
  line-height: 24.5px;
  color: var(--text-color);
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.w3l-index5 .grid-view p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background: var(--primary);
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0; }

.w3l-index5 .grid-view .grids5-info img {
  width: 100%;
  display: block; }

.w3l-index5 a.btn-news {
  padding: 0;
  color: var(--primary);
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600; }

.w3l-index5 a.btn-news span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s ease-in; }

.w3l-index5 label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px; }

.w3l-index5 label.tag-label.red {
  background: rgba(238, 97, 120, 0.2);
  color: var(--primary); }

.w3l-index5 label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000; }

.w3l-index5 label.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff; }

.w3l-index5 a.btn-news:hover {
  transition: 0.3s ease-in-out;
  color: var(--primary); }

.w3l-index5 a.btn-news:hover span.fa {
  right: -16px;
  transition: 0.3s ease-in; }

.w3l-index5 .grids5-info:hover a.btn-news span.fa {
  right: -16px;
  transition: 0.3s ease-in; }

@media all and (max-width: 768px) {
  .w3l-index5 .grids5-info h4 a {
    font-size: 20px;
    line-height: 25px; } }

@media all and (max-width: 568px) {
  .w3l-index5 .grids5-info p {
    margin-top: 12px; } }

@media all and (max-width: 414px) {
  .w3l-index5 .grids5-info h4 a {
    font-size: 23px; } }

@media all and (max-width: 384px) {
  .w3l-index5 .grids5-info h4 a {
    font-size: 22px; } }

/*  ourproducts section */
.w3l-products .products-content {
  margin: 20px 0; }

.w3l-products .products-content h3 {
  color: var(--title-color);
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700; }

.w3l-products .products-content p {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px; }

@media screen and (max-width: 992px) {
  .w3l-products .products-content h3 {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 33px; } }

@media screen and (max-width: 480px) {
  .w3l-products .products-content {
    margin-bottom: 30px; }
  .w3l-products .products-content h3 {
    font-size: 24px;
    line-height: 30px; } }

/*  /ourproducts section */
.w3l-faq-block {
  background-color: var(--light-bg-color); }
  .w3l-faq-block .faq-image {
    position: -webkit-sticky;
    position: sticky;
    top: 80px; }
  .w3l-faq-block .w3l-faq .transition,
  .w3l-faq-block .w3l-faq p,
  .w3l-faq-block .w3l-faq ul li i:before,
  .w3l-faq-block .w3l-faq ul li i:after {
    transition: all 0.25s ease-in-out; }
  .w3l-faq-block .w3l-faq .flipIn,
  .w3l-faq-block .w3l-faq h1,
  .w3l-faq-block .w3l-faq ul li {
    -webkit-animation: flipdown 0.5s ease both;
    animation: flipdown 0.5s ease both; }
  .w3l-faq-block .w3l-faq .no-select,
  .w3l-faq-block .w3l-faq h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .w3l-faq-block .w3l-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color); }
  .w3l-faq-block .w3l-faq p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2; }
  .w3l-faq-block .w3l-faq ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto; }
  .w3l-faq-block .w3l-faq ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
    background: #fff; }
  .w3l-faq-block .w3l-faq ul li:nth-of-type(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .w3l-faq-block .w3l-faq ul li:nth-of-type(2) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s; }
  .w3l-faq-block .w3l-faq ul li:nth-of-type(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .w3l-faq-block .w3l-faq ul li:nth-of-type(4) {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s; }
  .w3l-faq-block .w3l-faq ul li:nth-of-type(5) {
    -webkit-animation-delay: 1.50s;
    animation-delay: 1.50s; }
  .w3l-faq-block .w3l-faq ul li:nth-of-type(6) {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s; }
  .w3l-faq-block .w3l-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px; }
  .w3l-faq-block .w3l-faq ul li i:before,
  .w3l-faq-block .w3l-faq ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px; }
  .w3l-faq-block .w3l-faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg); }
  .w3l-faq-block .w3l-faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg); }
  .w3l-faq-block .w3l-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
     }
  .w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%); }
  .w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg); }
  .w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg); }
  @media screen and (max-width: 480px) {
    .w3l-faq-block .w3l-faq h2 {
      font-size: 18px;
      line-height: 30px; } }

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px; }

.resp-tabs-list li {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  color: #4E5B61;
  background: #fff !important;
  border-bottom: 3px solid #eee; }

.resp-tabs-list li img {
  margin-right: 30px; }

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left; }

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none; }

.resp-tab-content {
  display: none;
  padding: 15px; }

.resp-tab-active {
  border-bottom: none;
  margin-bottom: -1px !important;
  border-bottom: 3px var(--primary) solid !important;
  color: var(--primary) !important; }

.resp-tab-active {
  border-bottom: none;
  background-color: #fff; }

.resp-content-active,
.resp-accordion-active {
  display: block; }

.resp-tab-content {
  border-top-color: #5AB1D0; }

h2.resp-accordion {
  font-size: 20px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px; }

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important; }

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue; }

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%; }

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0 0 4px;
  cursor: pointer;
  float: none; }

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none; }

.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word; }

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
  border-top: 1px solid;
  border: 1px solid #5AB1D0 !important;
  border-left: 4px solid #5AB1D0 !important;
  margin-bottom: 4px !important;
  border-right: 1px #FFF solid !important; }

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1; }

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797; }

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
  background: #DBDBDB;
  border-bottom: 3px var(--primary) solid !important;
  /* !important;*/ }

.resp-easy-accordion h2.resp-accordion {
  display: block; }

.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;
  /* !important;*/ }

.resp-jfit {
  width: 100%;
  margin: 0px; }

.resp-tab-content-active {
  display: block; }

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1;
  /* !important;*/ }

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
  ul.resp-tabs-list {
    display: none; }
  h2.resp-accordion {
    border: none;
    border-bottom: 1px solid #c1c1c1;
    display: block; }
  h2.resp-accordion:first-child {
    border-top: none; }
  .resp-tabs-container {
    border: 1px solid #f5f5f5; }
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1; }
  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none; }
  .resp-accordion-closed {
    display: none !important; }
  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important; } }

@media screen and (max-width: 480px) {
  .resp-tab-content {
    padding: 0 15px; }
  .resp-arrow {
    margin-top: 3px; } }

.w3l-testimonials .testimonials {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../images/b2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed; }

.w3l-testimonials .slider-info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: #fff;
  border-radius: var(--card-curve); }

.w3l-testimonials .img-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid var(--primary); }

.w3l-testimonials .img-circle img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.w3l-testimonials .message {
  position: relative; }

.w3l-testimonials .message span {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0; }

.w3l-testimonials .message p {
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color); }

.w3l-testimonials .name h4 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400; }

.w3l-testimonials .name p {
  font-size: 13px;
  color: var(--text-color); }

@media (max-width: 992px) {
  .w3l-testimonials .message {
    margin-top: 1rem;
    padding-bottom: 0;
    padding: 0rem; } }

@media (max-width: 900px) {
  .w3l-testimonials .slider-info {
    padding: 2rem; } }

@media (max-width: 667px) {
  .w3l-testimonials .slider-info {
    grid-template-columns: 1fr;
    grid-gap: 30px; }
  .w3l-testimonials .img-circle {
    margin-left: auto;
    margin-right: auto; }
  .w3l-testimonials .message {
    text-align: center; }
  .w3l-testimonials .message span {
    left: 0px; } }

@media (max-width: 480px) {
  .w3l-testimonials .slider-info {
    grid-gap: 10px;
    padding: 2rem 1rem; } }

.w3l-testimonials .owl-two.owl-theme .owl-nav [class*=owl-prev],
.w3l-testimonials .owl-two.owl-theme .owl-nav [class*=owl-next] {
  display: none; }

  /* Owl Carousel v2.3.4  */
 
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
   }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
   }



.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-touch-callout: none; }

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block; }

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  /* -webkit-backface-visibility: hidden; */
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-dots {
  margin-top: 0px;
  bottom: -55px;
  position: absolute;
  left: 0;
  right: 0; }

.owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 20px;
  margin: 0px;
  padding: 0;
  background: rgba(220, 79, 114, 0.4);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: var(--primary);
  opacity: 1;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-in-out; }

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none; }

.owl-theme .owl-nav .disabled {
  opacity: .8;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  padding: 0; }

.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: #fff;
  display: block;
  border: none;
  /* -webkit-backface-visibility: visible; */
  transition: opacity .2s ease;
  border-radius: 0;
  position: relative; }

button.owl-next,
button.owl-prev {
  position: absolute;
  bottom: 45%; }

button.owl-prev {
  left: 5px; }

button.owl-next {
  right: 5px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary); }

@media all and (max-width: 640px) {
  button.owl-prev {
    left: 0px; }
  button.owl-next {
    right: 0px; }
  button.owl-next,
  button.owl-prev {
    bottom: 75%; } }

.owl-one.owl-dots {
  display: none; }

.owl-one.owl-theme .owl-dots .owl-dot span {
  display: none; }

.owl-three.owl-dots {
  display: none; }

.owl-three.owl-theme .owl-dots .owl-dot span {
  display: none; }

.owl-three.owl-theme button.owl-next,
.owl-three.owl-theme button.owl-prev {
  display: none; }

.w3l-footer .w3l-footer-16-main.py-5 {
  background: var(--light-bg-color); }

.w3l-footer .w3l-footer-16-main h3 {
  font-size: 20px;
  line-height: 25px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 700; }

.w3l-footer .w3l-footer-16-main h4 {
  font-size: 18px;
  line-height: 25px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 500; }

.w3l-footer .ad-text-inf {
  margin-bottom: 20px; }

.w3l-footer span.color-ubd {
  color: var(--text-color);
  opacity: 0.5;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 2px; }

.w3l-footer .footer-gd-16 li {
  display: block;
  list-style: none;
  margin: 10px 0; }

.w3l-footer .footer-gd-16 li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize; }

.w3l-footer .end-column {
  background-color: #fff;
  padding: 2em;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow); }

.w3l-footer .below-section,
.w3l-footer .para-content-footer {
  border-top: 1px solid #eaeaea; }

.w3l-footer .w3l-footer-16-main h3 a:hover,
.w3l-footer .footer-gd-16 li a:hover,
.w3l-footer .w3l-footer-16-main p a:hover {
  opacity: 0.8;
  color: var(--primary); }

.w3l-footer .w3l-footer-16-main p {
  line-height: 22px;
  color: var(--text-color);
  font-size: 16px; }

.w3l-footer .w3l-footer-16-main p a {
  color: var(--title-color); }

.w3l-footer a.footer-small-text {
  color: var(--title-color);
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease-in; }

.w3l-footer a.footer-small-text:hover {
  color: var(--primary);
  transition: 0.3s ease-in; }

.w3l-footer .text-sub-small {
  color: #656f7b;
  font-size: 14px;
  margin-top: 4px; }

.w3l-footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between; }

.w3l-footer .subscribe input[type="email"] {
  background: var(--light-bg-color);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: var(--title-color);
  font-weight: 600;
  border-radius: var(--card-curve); }

.w3l-footer .subscribe button {
  text-align: center;
  background: var(--primary);
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: var(--card-curve); }

.w3l-footer .subscribe button:hover {
  transition: all .5s ease; }

.w3l-footer .subscribe button img {
  vertical-align: middle; }

.w3l-footer #movetop {
  display: none;
  position: fixed;
  bottom: 75px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 45px;
  background: var(--primary);
  padding: 0;
  opacity: 0.7;
  transition: 1s ease; }

.w3l-footer #movetop:hover {
  opacity: 1;
  transition: 1s ease; }

.w3l-footer #movetop span.fa {
  line-height: 45px;
  color: #fff;
  font-size: 22px; }

.w3l-footer .below-section {
  justify-content: space-between; }

.w3l-footer ul.social li,
.w3l-footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px; }

.w3l-footer ul.social li a {
  color: var(--title-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center; }

.w3l-footer ul.social li a:hover {
  color: var(--primary);
  transition: 0.3s ease; }

.w3l-footer ul.social li a span {
  font-size: 15px;
  line-height: 36px; }

@media screen and (max-width: 1080px) {
  .w3l-footer .footer-gd-16 li a {
    font-size: 15px;
    line-height: 23px; } }

@media screen and (max-width: 1190px) {
  .w3l-footer .subscribe button {
    width: 30%; } }

@media screen and (max-width: 991px) {
  .w3l-footer .below-section {
    display: block !important; }
  .w3l-footer .columns-2 {
    text-align: center; } }

@media screen and (max-width: 801px) {
  .w3l-footer .w3l-footer-16-main h3 {
    margin-bottom: 18px; } }

@media screen and (max-width: 640px) {
  .w3l-footer .w3l-footer-16-main {
    padding: 3em 0; }
  .w3l-footer .footer-gd-16 li {
    margin: 5px 0; }
  .w3l-footer .subscribe button {
    padding: 12px 10px; } }

@media screen and (max-width: 420px) {
  .w3l-footer .w3l-footer-16-main {
    padding: 2em 0; }
  .w3l-footer .subscribe button {
    width: 20%; } }

.w3l-about1 .cwp4-two img {
  border-radius: 5px; }

.w3l-about1 .cwp4-text {
  align-self: center; }

.w3l-about1 .cwp4-text h3 {
  font-size: 36px;
  line-height: 44px;
  color: var(--title-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600; }

.w3l-about1 .cwp4-text h4 {
  font-size: 26px;
  line-height: 32px;
  color: var(--title-color);
  font-weight: 700; }

.w3l-about1 .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: var(--text-color);
  margin: 15px 0 35px 0; }

.w3l-about1 ul.cont-4 li {
  display: block; }

.w3l-about1 ul.cont-4 li span.fa {
  color: var(--primary);
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5; }

.w3l-about1 .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin: 15px 0;
  font-weight: 600; }

@media all and (max-width: 991px) {
  .w3l-about1 .cwp4-image img {
    width: 100%; } }

@media all and (max-width: 600px) {
  .w3l-about1 .cwp4-text h3 {
    font-size: 30px;
    line-height: 35px; } }

@media all and (max-width: 387px) {
  .w3l-about1 .cwp4-text h3 {
    font-size: 26px;
    line-height: 32px; } }

@media all and (max-width: 320px) {
  .w3l-about1 .cwp4-text h4 {
    font-size: 23px;
    line-height: 28px; }
  .w3l-about1 #content-with-photo4-block {
    padding: 0 0 2.5rem 0; } }

.w3l-about2 .features h5 {
  font-size: 26px;
  line-height: 32px;
  color: var(--title-color);
  font-weight: 700; }

.w3l-about2 p {
  font-size: 16px;
  line-height: 24.5px;
  color: var(--text-color);
  margin-top: 16px; }

