* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3,
h2,
h5 {
    font-family: 'Nunito', sans-serif;
}

button,
.btn,
select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
    color: #5a5a5a;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}

.clear {
    clear: both;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}


.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.header-section {
    max-width: 750px;
    margin: 0 auto;
}


.header-section h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.sub-title {
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* PHẦN XỬ LÝ BỐ CỤC & HIỆU ỨNG:LIGHT VÀ DARK */
/* .headervip .navbar-expand-lg .navbar-collapse{
    position: relative;
}


} */


.lightvsdark i {
    font-size: 26px;
    line-height: 32px;
    transform: rotate(-20deg);
}

/* dark theme */
.dark#vipBody {
    background-color: rgba(37, 36, 39);
}


#switchButton .fa-sun {
    display: none;
    color: #fff;
}

#switchButton .fa-moon {
    display: block;
    border-color: #fff;
}

/* phần gắn class cho backround chuyển về màu tối */
.dark .headervip,
.dark .fixed-top,
.dark .nav-fixed,
.dark .block1 .content,
.dark .choose,
.dark .choose .s-block,
.dark .choose .s-block:hover,
.dark .about,
.dark .stats,
.dark .stats .stats_info,
.dark .confirm {
    background-color: rgba(37, 36, 39);
    color: #fff;
}

.dark h2,
h3,
h4,
.dark .headervip .navbar-expand-lg .navbar-nav .nav-link,
.dark .header-section h3,
.dark .about .book-info h3,
.dark .choose .s-block h3,
.dark .stats .stats_info h4 {
    color: #fff;
}


.dark p,
.dark .choose .s-block p,
.dark .about .book-info p,
.dark .about .book-info p {
    color: #c2c8cc;
}

/* light theme */
#vipBody {
    background-color: #fff;
}

.dark #switchButton .fa-sun {
    display: block;
    color: #fff;
}

.dark #switchButton .fa-moon {
    display: none;
}

 .headervip .btn:first-child:active {
    border-color:#fff ;
  }

  .dark .headervip .btn:first-child:active {
    border-color:rgba(37, 36, 39) ;
  }
  .headervip .lightvsdark .btn{
    border: 0px;
  }

/* HEADER */
header {
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.nav-fixed {
    padding: 0px;
    background-color: #fff;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.headervip .navbar-nav {
    margin-left: auto;
}

.headervip .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}


.headervip .navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2c3038;
}

.headervip a.nav-link:before,
.headervip .dropdown-item:before {
    position: absolute;
    content: '';
    background-color: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all .5s;
}

.headervip .navbar-expand-lg .navbar-nav .nav-link:hover:before,
.headervip .dropdown-item:hover:before {
    width: 20px;

}

.headervip .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}


.headervip .navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #dc4f72;
}

.headervip .navbar .navbar-brand {
    font-size: 26px;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}

.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: #2c3038;
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}

.headervip .dropdown-menu {
    border-radius: 6px;
    min-width: 11rem;
    padding: 1rem 0 0.3rem;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.headervip .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.headervip .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.headervip .dropdown-item:focus,
.dropdown-item:hover {
    color: #dc4f72;
    background-color: #fff;
}

.headervip .dropdown-toggle::after {
    display: none;
}

#angle-down {
    font-size: 11px;
    padding-left: 2px;
    font-weight: 200;
    margin-bottom: 2px;
    display: inline-block;
}


.headervip .btn-outline:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

/* BLOCK1 */
.block1 {
    margin-top: 90px;
}

.block1 .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../IMG/imgMTW01.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.block1 .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #2c3038;
    font-weight: 700;
}

.block1 .content-left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

.block1 .content-photo img {
    transform: rotate(180deg);
}

/* CHOOSE */
.choose .header-section {
    margin: 8px auto 0;
}

.choose .s-block {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #f7f9fc;
    padding: 3rem 2rem;
    border: 1px solid #f7f9fc;
}

.choose .s-block:hover {
    transition: 0.3s ease-in;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.choose .s-block h3 {
    color: #2c3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.choose .s-block p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

/* ABOUT  */
.about {
    margin-top: 8px;
    background-color: #f7f9fc;
}

.about .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #2c3038;
    font-weight: 700;
}

.about .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
}

.about img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.about img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

/* STATS */
.stats {
    background-color: #f7f9fc;
}

.stats .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2c3038;
    font-weight: 700;
}

.stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* CONFIRM */
.confirm .middle-section {
    max-width: 550px;
}

.confirm .new-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../IMG/imgMTW07.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
    margin-top: 8px;
}

.confirm .middle-section h2 {
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}

.confirm .middle-section p {
    line-height: 24.5px;
    color: #eee;
}

/* ----------- RESPONSIVE -----------*/

@media only screen and (max-width: 1279px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 991px) {
    .headervip .navbar-expand-lg {
        position: relative;
    }

    .headervip .lightvsdark #switchButton {
        position: absolute;
        top: -3px;
        right: 6%;
    }

    header {
        height: auto;
        padding: 15px 0;
    }

    .headervip .navbar {
        padding: 0;
    }

    .fixed-top {
        background-color: #fff;
    }

    .headervip .navbar-toggler-icon {
        background-image: none;
        width: 1.4em;
        height: 1.4em;
    }

    .headervip .navbar-toggler-icon.fa {
        font-size: 27px;
        color: #fff;
        line-height: 38px;
        background-color: #dc4f72;
        border-radius: 5px;
    }

    header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

    .headervip .navbar-toggler {
        padding: 0rem 0rem;
        position: absolute;
        right: 0;
        top: 0;

    }

    .headervip .navbar-toggler:focus {
        border: 2px solid black;
        box-shadow: none;
    }


    .headervip .navbar-nav {
        text-align: center;
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    /*  */
    .headervip .navbar-toggler .expand {
        display: block;
    }

    .headervip .navbar-toggler .close {
        display: none;
    }

    /*  */
    .headervip .showicon .navbar-toggler .expand {
        display: none;
    }

    .headervip .showicon .navbar-toggler .close {
        display: block;
    }

    .dropdown-item {
        text-align: center;
    }

    .headervip .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0);
    }

    /* BLOCK */
    .block1 {
        margin-top: 70px;
    }
}

@media (max-width: 800px) {
    .header-section h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .confirm .middle-section a {
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .theme-button {
        line-height: 44px;
        padding: 0px 20px;
    }

    .headervip .lightvsdark #switchButton {
        right: 8%;
    }
  
}

@media (max-width: 667px) {
    .header-section h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .confirm .middle-section a {
        margin-top: 30px;
    }

}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .block1 .content-left h3 {
        font-size: 40px;
        line-height: 45px;
    }
    .headervip .lightvsdark #switchButton {
        right: 10%;
    }
}
